/* FONT(S) */
@font-face {
    font-family: Coiny;
    src: url(Coiny-Regular.ttf);
}

/* FONT SIZES */
#headText {
    font-size: 44px;
}

#conText {
    font-size: 20px;
}

#loneText {
    font-size: 32px;
}

#sixText {
    font-size: 36px;
}

#tinyText {
    font-size: 16px;
}

/* OTHER IDS */
/* #box {
    /* background-color: #f6ffe7; 
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */


/* THE ACTUAL WEBSITE */
body {
    margin: 0;
}

p, a, form {
    font-family: "Coiny";
}


/* NAVIGATION BAR */
.navbar {
    width: 90%;
    height: max-content;
    display: block;
    position: fixed;
    top: 0;
    border-top: 6vw solid #0a5ba8;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.navbar img {
    width: 250px;
    height: 100px;
    position: absolute;
    top: -110px;

}

.navButts {
    width: 35%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-left: 65%;
    top: -70px;

}

.deButt, .checkButt {
    width: max-content;
    height: max-content;
    border: 0;
    background-color: transparent;
    color: white;
}

/* CHANGES THE COLOR OF THE BUTTON TEXT WHEN HOVERED OVER */
a.deButt:hover,
a.checkButt:hover {
    color:#c6c8d3;
}

a.deButt,
a.checkButt {
    text-decoration: none;
}


.test {
    margin-top: 10%;
}



/* THE FIRST CONTENT SECTION | INTRODUCTION OF THE WEBSITE */
/* .content1 {
    background-color: rgb(255, 217, 217);
} */

.content1 #headText {
    text-align: center;
}

.content1 #conText {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}




.sum {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.gSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.fed {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.fSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.state {
    width: 55%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.sSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.sSec {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.ssSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.medicare {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.mSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.stDis {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.sdSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.medIns {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.miSum {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.totDec {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(175, 216, 203); */
}

.taxDec {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}

.housePay {
    width: 45%;
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
    padding-right: 200px;
    /* background-color: rgb(242, 213, 213); */
}

.hDec {
    /* background-color: #ffffff; */
    width: 200px;
    height: 20px;
    margin-top: 17.5px;
    border: 1px solid rgb(83, 83, 83);
}






/* TAX CALCULATOR */
/* .taxCal {
    background-color: #4d612b;
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */

.taxCal {
    margin-top: 43px;
}

.taxIns {
    /* background-color: rgb(188, 157, 157); */
    width: 30%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    /* FIGURE HOW TO GET IT TO STOP STICKING TO THE TOP LATER */
    
}

/* .checkTut {
    background-color: rgb(220, 174, 232);
    margin-top: 20em;
} */

/* .checkExample {
    background-color: rgb(75, 75, 202);
} */

.checkBook {
    width: 90%;
    height: 50em;
    /* background-color: rgb(174, 232, 214); */
    margin-top: 60em;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.gridCont {
    /* background-color: rgb(188, 255, 192); */
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content:center
}



.code {
    /* background-color: rgb(255, 255, 255); */
    width: 10%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.date {
    /* background-color: rgb(255, 255, 255); */
    width: 10%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.desc {
    /* background-color: rgb(255, 255, 255); */
    width: 30%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.withdrawal {
    /* background-color: rgb(255, 255, 255); */
    width: 20%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.deposit {
    /* background-color: rgb(255, 255, 255); */
    width: 20%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.balance {
    /* background-color: rgb(255, 255, 255); */
    width: 20%;
    height: 50px;
    border: 1px solid rgb(83, 83, 83);
}

.gridCont input {
    border: 0px;
    outline: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 480px){
    #headText {
        margin-top: 27em;
    }
}